<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--新規投稿フォーム-->
      <%= render 'drinks/form', drink: @drink %>
    </div>

    <!--ユーザー情報の表示-->
    <div class="col-md-8 offset-md-1">
      
      <%= render "users/user_info", user: @user %>
 
    <!--ユーザーが投稿したお酒一覧、レイアウト修正-->

      
      <% if @user.status == "released" %>
        <%= render "drinks/drinks", drinks: @drinks %>
      <% else %>
        <%= render "drinks/nonreleased_drinks" %>
      <% end %>
    </div>
  </div>
</div>