<!DOCTYPE html>
<html>
  <head>
    <title>Oshizake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container">
  <div class="row">
  <div class="col">
    <h2 class="my-3 text-center" style="font-family: Agbalumo; color:#8da0b6">welcome  to  Oshizake<i class="fa-regular fa-moon fa-flip-horizontal"></i></h2>
  </div>
</div>
</div>
</body>
</html>